.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.examplex{
  background-color: salmon;
  color: white;
}
.App-users{
  display: flex;
}
.App-user{
  flex: 1;
}
ul li{
  list-style: none;
  display: inline;
  margin: 15px;
}
tr th{
  border: #282c34 2px solid;
}
tr td{
  border: gray 1px solid;
}
main{
  margin: 25px;
}
.App-form-users{
  margin: 20px;
  display: flex;
}
.App-box{
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
}
input, button, select{
  font-size: 18px;
  padding: 5px;
  margin: 5px;
}

label{
  margin-right: 8px;
}

table tr {
  background-color: #eee;
}
table tr:nth-child(2) {
  background-color: #eee;
}
table tr:nth-child(even) {
  background-color: #eee;
}

table tr:nth-child(odd) {
  background-color: #fff;
}
thead{
  background-attachment: black;
}

.link{
  margin-right: 100px;
  margin-left: 100px;
}
.enviar-color{
  background-color: #4a4bd6;
  color: #fff;
  font-size: 18px;
  width: 200px;
}
.reset-color{
  background-color: #ff1465;
  color:#fff;
  font-size: 18px;
  width: 200px;
}
.th-css{
  background-color: #4a4bd6;
  color:#fff;
  font-size: 16px;
}
.icon-update{
  background-color:#99B898;
}
.icon-delete{
  background-color: #FECEA8;
}
.icon-inca{
  background-color: #FF847C;
  
}
.fecha{
  width: 215.2px;
}
.inicio{
  width: 105%;
}
.oculto{
  display:none
}
.ini{
  margin-top: 90px;
}
